PORT=5000
MONGO_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.mongodb.net/idpedia
JWT_SECRET=change-this-secret-before-deploy
ADMIN_USER=admin
ADMIN_PASSWORD=1234
CLIENT_URL=https://your-netlify-site.netlify.app
